@media (max-width:640px) {
	.buttons  {
		width:58%;
	}
	.prmf label {
		display:inline-block;
		min-width:85px;
	}
	.prmf input[type=submit] {
	    display: block;
		margin-top: 8px;
		width: 100%;
	}
	.maincontent {
		width:100%;
	}
	#strip {
		padding-left:12px;
		width:94%;
	}
	.shortitemtext  {
		width:74%;
	}
	.upb {
		width:64px;
	}
	#banner-out {
		height:auto;
		width: 100%;
		display: block!important;
	}
	#banner-in {
		font-size:14px;
	}
	#mainsfrormadd, .form {
		width:74% !important;
	}
	span.ib {
		white-space:nowrap;
	}
}
@media (max-width:415px) {
	.buttons  {
		width:90%;
	}
	.aformwrap {
		width:90%;
	}
}
@media (max-width:480px) {
	.buttons  {
		width:76%;
	}
	.aformwrap {
		width:94%;
	}
}

@media (max-width:350px) {
	span.ib {
		white-space:normal;
	}
	.buttons  {
		width:50%;
	}
}
@media (max-width:360px) {
	.aformwrap {
		width:83%;
	}
}
@media (max-width:240px) {
	#logo-in img {
		max-width:235px;
	}
	#content .seo > a{
		font-size:11px;
		margin-left: 11px;
	}
	.aformwrap {
		width:57%!important;
		min-height:270px;
	}
	.aformwrap.upformwrap {
		width:92%!important;
	}
	.aformwrap input[type="button"].payvariant,.aformwrap input[type="button"].paysum {
		font-size:12px!important;
		padding-left:56px!important;
		
	}
	.aformwrap .aphone input[type=text]{
		width:74%!important;
	}
	.aformwrap  .apwd input[type=password] {
		width:931;
	}
	
	.payformwr {
		height:273px!important;
	}
	.f10 {
		text-indent:10px!important;
	}
	.cpcodewr input[type=text] {
		min-width:166px;
	}
	.upb {
		left:76%;
	}
}
@media (max-width:320px) {
	.p100banner section{
		height:39px!important;
	}
	.p100banner section img{
		width:28px!important;
		height:auto!important;
		float:left!important;
		margin-right:4px!important;
	}
	.p100banner section b{
		display: inline-block!important;
		float: left!important;
		font-size: 15px!important;
		line-height: 42px!important;
	}

	#mainsfrormadd, .form {
		max-width:unset!important;
		width:unset!important;
	}
	#content .seo > a{
		font-size:11px;
		margin-left: 11px;
	}
	.maincontent {
		padding:0px!important;
		margin:0px!important;
	}
	.buttons {
		width:75%;
	}
	#mainsfrormadd {
		margin:0px!important;
	}
	.aformwrap {
		width:72%;
		min-height:270px;
	}
	
	.payformmsg.tj {
		text-align:left;
	}
	.aformwrap input[type="button"].payvariant,.aformwrap input[type="button"].paysum {
		font-size:12px!important;
		padding-left:56px!important;
		
	}
	.payformwr {
		height:273px!important;
	}
	.f10 {
		text-indent:10px!important;
	}
	.captwr {
		width:100%;
	}
	.cpcodewr {
		margin-top:14px;
	}
	.capinputs{width:100%;}
	.upformbtn {
		margin: 18px 14px 0 0!important;
	}
	.cpcodewr input[type=text] {
		min-width:166px;
	}
}

@media (max-width:413px) {
	#mainsfrormadd, .form {
		max-width:unset!important;
		width:unset!important;
	}
	#content .seo > a{
		font-size:11px;
		margin-left: 11px;
	}
	.maincontent {
		padding:0px!important;
		margin:0px!important;
	}
	.buttons {
		width:75%;
	}
	#mainsfrormadd {
		margin:0px!important;
	}
	.aformwrap {
		/*width:314px!important0;*/
		/*width:100%;*/
		min-height:270px;
	}
	.payformmsg.tj {
		text-align:left;
	}
	.aformwrap input[type="button"].payvariant, .aformwrap input[type="button"].paysum{
		font-size:18px!important0;
		padding-left:56px;
		
	}
	.payformwr {
		height:273px!important;
	}
	.f10 {
		text-indent:10px!important;
	}
	.captwr {
		width:100%;
	}
	.cpcodewr {
		margin-top:14px;
	}
	.capinputs{width:100%;}
	.upformbtn {
		margin: 18px 14px 0 0!important;
	}
	.cpcodewr input[type=text] {
		min-width:166px;
	}
}
/** для формы логина выше этого считаем что у нас десктоп */
@media (min-width:391px) {
	.aformwrap {
		width:390px;
	}
	.aformwrap .aphone input[type=text], .aphone input[type=password] {
		width:369px;
	}
}
/** на прочих разрешениях тянем на всю ширину экрана */
@media (min-width:240px) {
	.aformwrap .aphone input[type=text]{
		width:80%;
	}
	.aformwrap  .apwd input[type=password] {
		width:93%;
	}
}
/** выше этого считаем что у нас десктоп*/
@media (min-width:641px) {
	.aformwrap input[type="button"].payvariant,.aformwrap input[type="button"].paysum {
		font-size:26px;
	}

	.maincontent {
		width:74%;
	}
	#banner-out {
		height:120px;
	}
	#banner-in {
		font-size:30pt;
	}
	#mainsfrormadd, .form {
		width:100%;
	}
	.buttons  {
		max-width:440px;
	}
	.capiwr{margin-left:10px;}
	.upb {
		left:90%;
	}
	#mainsfrormadd, .form {
		width:100%;
	}
	.aphone input[type=text], .aphone input[type=password] {
		height:32px;
		width:330px;
		font-size:24pt;
	}
}

/** выше этого значения большинство объявлений выравниваются слева от фото */
@media (max-width:597px) {
	.shortitemtext {margin-left: 7px;}
}


.usermenu-mt {
	margin:2px 2px 0 0;
}
.tright {
	text-align:right;
}
.region-outer-list{
	list-style:none;
	padding:0;
	margin:0 auto;
	max-width:840px;
}
.region-outer-list li, .region-outer-list p{
	display:inline-block;
	border:none;
	padding:0;
	padding:0;
}
.region-inner-list{
	display:inline-block;
	vertical-align: top; 
}
.qbtn {
	border:solid #C3D1D7 1px;
	padding:4px 8px;
	text-decoration:none;
	border-radius: 4px;
	background:linear-gradient(to right bottom, #ffffff, #ffffff,  #C3D1D7); 
}
.qbtn-dis {
	border:solid #E4E9EB 1px;
	padding:4px 8px;
	text-decoration:none;
	border-radius: 4px;
	background:linear-gradient(to right bottom, #ffffff, #ffffff,  #E4E9EB);
}
a.regions_item{
	display:block;
	width:200px;
}
.dashed {
	-moz-text-decoration-style: dashed;
}	
html {height:100%}

.erpage {
	font-weight:bold;
	color:red;
}
.adtitle input[type=text]{
	width:79%;
}

#content {
	clear:both;
	min-height:78%;
	width:99%;
}
#footer {
	background-color: #F0F0F0;
	padding:12px
}

#counter-out {
	min-width:150px;
	height:30px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	margin: 4px 2px
}
#counter-in {
	font-size:10pt;
	font-family:Arial;
	color:#7EDFFC;
}


.left {float:left}
.right {float:right}
.maincontent {
	padding: 10px 10px;
	margin: 0 auto;
}
body {
	padding: 0px;
	margin: 0px;
	font-family:Geneva, Arial;
	height:100%
}
#logoplace {
	/*! float:left; */
	/*! text-align: center; */
}
#logoplace a{
	text-decoration:none;
	color:#29D4EA
}
#logo-out {
	width:100%;
	height:100px;
	/*! display:table-cell; */
	text-align:center;
	vertical-align:middle;
}
#logo-in {
	font-size:14pt;
	color:#29D4EA
}
.slogan {
	text-align:center;
}

#banner-out {
	/*! display:table-cell; */
	text-align:center;
	/*! vertical-align:middle; */
}
#banner-in {
	color: #424558;
	font-weight: bold;
	text-transform: uppercase;
}
header.mainhead {
	border-bottom:green 5px solid;
	min-height:120px;
}
#mfwrap {
	width:100%;
}
#mainsfrormadd, .form {
	background-color: #f0f0f0;
	padding: 10px 16px;
	margin: 0 auto;
	font-size:10pt;
}
#mainsfrorm {
	background-color: #f0f0f0;
	padding: 10px 16px;
	margin: 0 auto;
	font-size:10pt;
}
#mainsfrormerror {
	background-color: #FFB0B9;
	padding: 10px 16px;
	width:100%;
	margin: 8px auto;
	font-size:10pt;
	display:none;
	color:#aa0000;
	line-height: 18px;
}
#mainsformwarnings {
	background-color: #FFEFB0;
	padding: 10px 16px;
	width:100%;
	margin: 8px auto;
	font-size:10pt;
	display:none;
	color:#AA7300;
	line-height: 18px;
}
#autherror{
	background-color: #FFB0B9;
	padding: 10px 16px;
	color:#aa0000;
}
#mainsfrormsuccess{
	background-color: #B0FFC2;
	padding: 10px 16px;
	width:100%;
	margin: 8px auto;
	font-size:10pt;
	display:none;
}
#mainsfrorm select{
	font-size:11pt;
}

.both, .mlist li {
	clear:both;
}

.prmf {
	margin: 8px 10px 0 0;
}
.upformbtn {
	margin: 18px 0 0 0;
}
.praf {
	margin:0px 10px 0 0;
}

.ii {
	max-width:130px;
	float:left;
	margin:1px 7px;
}

.lstnone {
	list-style-type:none;
	min-height:350px;
}

.shortitemtext header a{
	color:#3279B2;
	font-weight:bold;
}

.shortitemtext div .name, .phone {
	color:#a0a0a0;
	font-size:10pt;
	margin-top:4px;
}

li {
	border:#a0a0a0 solid 1px;
	margin: 8px 0px;
	padding:0 0 4px 0;
}

.shortitemtext {
	padding-top:15px;
	overflow:hidden;
	/*min-width:400px;*/
}

.button {
	padding: 2px 4px;
	border-radius:4px;
	font-weight:bold;
	color:white;
	text-align:center;
	background-color : #20DF4C;
	background: linear-gradient(to top, #0ECD3A, #80EE9A);
	min-height:19px;
	margin:0 auto;
	cursor:pointer;
}
/* background: linear-gradient(to top, #0ECD3A, #80EE9A); more dark */
/* #10CF3C, #A0FFAC more light */
.buttons {
	margin:0 auto;
}
.buttons table{
	/*width:100%;*/
	margin:0 auto;
}
.popupouter {
	position:relative; margin:0 auto; width:407px;
}
.upformwrap {
	position:relative !important;
}
.hide {
	display:none;
}
.aformwrap {
	margin:0 auto;
	height:170px;
	border: 1px solid gray;
	border-radius:8px;
	padding:10px;

	position:absolute;
	background-color: white;
	top:0px;
	z-index:5;
}
.button,.aformwrap input[type=button], .aformwrap input[type=submit] {
	padding: 5px 4px 1px;
	border-radius: 4px;
	font-weight: bold;
	color: white;
	text-align: center;
	background-color: #20DF4C;
	background: linear-gradient(to top, #0ECD3A, #55DE76, #55DE76, #03AE2A);/*80EE9A, 55DE76, -> 0ECD3A*/
	min-height: 24px;
	margin: 0 auto;
	cursor: pointer;
	border:none;
	text-shadow: 1px 1px 0px black, 0 0 1px green;
	/*color: #996e34;*/
}
.aformwrap input[type=button], .aformwrap input[type=submit] {
	padding: 7px 14px;
}
.button:hover, .aformwrap input[type=button]:hover, .aformwrap input[type=submit]:hover{
	/*padding: 4px 6px;*/
	background-color : #18CF3C;
	background: linear-gradient(to top, #0ECD3A, #80EE9A, #80EE9A, #0ECD3A);
	cursor:pointer;
}


.aphone {
	height:62px;
}
.aphone label {
	display:inline-block;
	height:34px;
	margin:4px 0px 0px 7px;
}
.apwd label {
	display:inline-block;
	height:34px;
	margin:4px 0px 0px 7px;
}
.apwd input[type=password] {
	display:inline-block;
	margin:4px 0px 0px 4px;
	font-size:24pt;
}
.aphone label img{
}
.slabel {
	display:inline !important;
	height:auto !important;
}
.aphone input[type=text], .aphone input[type=password] {
	display:inline-block;
	margin-top:3px;
	vertical-align: top;
	height:34px;
	font-size:24pt;
}
.aphone input[type=submit] {
}
.add {
	width:170px;
}
.auth {
	width:170px;
	height:19px
}
.out {
	width:32px;
	height:19px
}
.w20 {
	width:18px;
}

.w16 {
	width:16px;
}


.hidelink, .hidelink img {
	border:none;
	text-decoration:none;
}

#add_legend {
	color:#000981;
}

#add_hr {
	color:#000981;
}

.authorname input[type=text]{
	width:99%
}
.red {color:red;}
.pwdmail label{
	width:46px;
	display:inline-block;
}
#grb {
	border: #e0e0e0 solid 1px;
	padding: 0px 8px;
}
.socbut {
	width:380px;
	margin:auto;
}

.smbr {
	color:#562911;
	font-size:8pt;
	padding-left:2px;
}
.cabcontrols input[type=button] {
	border-radius:0px;
	background: linear-gradient(to top, #ECEDFF, white);
	float:right;
	margin-bottom:6px;
}
.cabcontrols a {
	border-radius:0px;
	border-right: solid 1px black; 
	border-bottom: solid 1px black; 
	border-top: solid 1px #F0F0F0; 
	border-left: solid 1px #F0F0F0; 
	width:92px;
	height:18px;
	background: linear-gradient(to top, #ECEDFF, white);
	float:right;
	margin-bottom:6px;
	font-size:9pt;
	text-align:center;
	padding:0px 4px;
	color:black;
	text-decoration:none;
}
.cabcontrols {
	float:left;
	width:150px;
	padding:16px 0 0 4px;
}
.vprice {
	color:#CE7350;
	margin: 2px 0 0 0;
}
.b {
	font-weight:bold;
}
.vis {
	display: block !important;
}

.f10 {
	margin-bottom:10px;
	text-indent: 14px;
	
}
.bgwhite {background-color: white !important}

#paginator {
}
#paglist {
	text-align:center;
	width:70%;
	margin: 0 auto; 
}
#paglist li{
	display:inline;
	border-radius:4px;
	border-color:#1B3D7F;
	background-color:#1B3D7F;
}
#paglist li.active {
	display:inline;
	border-color:white;
	background-color:white;
}
#paglist li a {
	color:white;
	font-weight:bold;
	display:inline-block;
	min-width:22px;
	text-decoration:none;
	vertical-align:middle;
}

/* #3279B2 */
/* #1B3D7F purple */
#paglist li span {
	color:#1B3D7F;
	font-weight:bold;
	display:inline-block;
	min-width:18px;
	text-decoration:none;
	vertical-align:middle;
}

.lpm1 {
	margin:18px 0px 0px 8px;
}
.lpm1 a{
	font-size:10pt !important;
}
.darkred {
	color:#aa0000;
}
.pt10 {
	font-size:10pt
}
.cabitem {
    float: right;
    width: 180px;
}
.sz12 input{
	font-size:12pt !important
}

.setform {
	height:400px !important;
}
.avte {
	padding:7px;
	text-indent:15px;
}

.more {width:150px}
.pl3 {margin-left:40px;}
.plm {padding:1px 2px 0 0;  }

.a {color:#3279B2; font-size:12pt}
.dd {color:#3279B2;}

.hnone {
	min-height:10px !important;
}
.back2list {
	width:75px;
}
.please {margin:5px 0 0 8px; color:#3279B2; padding:4px;}
.please_in {margin: 0 auto; width:70%; text-align:center}
.please_in span{vertical-align:top; display:block-inline}

.upb {
	position:fixed;
	top:80%;
	cursor:pointer;
	opacity:0;
}
.seo a{
	color:#3279B2
}
.blabla h2, a{
	color:#1A1C1E;
}
.blabla p{
	text-indent: 21px;
}
.regions_page_link {
	color:#aa0000;
}
.darkblue {
	color:#0000aa;
}
#lic b {
	font-weight:normal;
}
.a {
	color:black;
}
.agreearea {
	line-height:32px !important;
	text-alig7n:center;
}
.agreearea input {
	vertical-align:middle;
}
.agreearea label {
	vertical-align:top;
}
.agreearea label a{
	vertical-align:middle;
}
#ye {color:#FBBC05;}
#bl {color:#4285F4;}
#gr {color:green;}
#r {color:red;}
#fbook {color:#3B5998;}
#bgf {color:white; background-color: #3B5998; display:inline-block; padding:0px 4px;}
.tc {text-align:center;}
.getsmsform {
	max-width:664px;
}
.iblock {
	display:inline-block;
}
.countVerify {text-align:right; background-color:green; color:white;padding:10px; border-radius:10px; max-width:500px; float:right;}
.payvariant, .paysum {
	width:100%;
	margin-bottom:4px;
	min-height:42px;
}
.aformwrap input[type="button"].payvariant{
	text-align:left;
	padding-left:69px;
}
.aformwrap input[type="button"].paysum{
	text-align:left;
	padding-left:56px;
}
.inrelative div {
	position:relative;
}
.inrelative img {
	position:absolute;
	left:10px;
	top:4px;
	max-height:34px;
	cursor:pointer;
}
.payformwr {
	height:212px;
	margin-bottom:12px;
}
.payformmsg {
	margin-bottom:16px;
}
.w100 {width:100%;}
.tj{text-align:justify;}
.tdn{text-decoration:none;}

#smsCode {
	margin: 0 0 15px 0;
}
.fcomment{
	font-size:11px;
	margin-top:-9px;
}
.green{
	color:#00AA00;
}
.center {
	margin:auto;
}
.centerh {
	margin:0 auto;
}
.centerv {
	margin:auto 0;
}
.p100banner section {
	max-width: 468px;
	height: 60px;
	width: 100%;
	margin:auto;
	border-bottom:1px solid #3279B2;
}
.p100banner section a {
	text-decoration:underline;
}
.p100banner section img{
	width:47px;
	height:auto;
	float:left;
	margin-right:12px;
}
.p100banner section b{
	display:inline-block;
	float:left;
	font-size:17px;
	line-height: 60px;
}
.p100banner section u{
	clear:both;
}
.flink {
	display:inline-block;
	margin-right: 25%;
}
.flink a{
	font-size:11px;
	
}
.clear {
	clear:both;
}
.m50p {
	margin-top: 50px;
}

/** sravni-osago  */
.osagobanner a {
	text-decoration:none;
}

.osagobanner_sber  section {
	background-color: #01964c;/* #3d594b #0dd149 0f0e0e*/;
	color:white;
	text-align:center;
	font-size:22px;
	margin:6px 0px;
	padding:6px 0px;
}

.osagobanner_sber  section b{
  display:inline-block;
  line-height:48px;
  vertical-align:top;
  margin-left: 4px;
}

.osagobanner  section  {
	background-color:rgb(59, 62, 68);
	color:white;
	text-align:center;
	font-size:22px;
	margin:6px 0px;
	padding:6px 0px;
}
.sravni-green {
  background-color: #0dd149;
  max-width:320px;
  margin:auto;
  border-radius: 4px;
  height:48px;
  line-height: 48px;
}
.sravni-tcolor {
  color: #0dd149;
}
.sravni-tcolor-red {
  color: #ff4545;
}
.block, .osagobanner_sber a {
  text-decoration: none;
}
.sravni-banner, .sravni-sub {
	margin-bottom:20px;
}
.sravni-sub {
  font-size:14px;
}

.sravni-sub-btm {
  margin-top:14px;
}

/**  */
@media (min-width:392px) {

.rgru-wr {
	border: 1px solid gray;
	padding: 5px 0px 7px 1px;
	background-color: #f2f2f4;
	height: 116px;
}
.rg-ru {
	display: inline-block;
	max-width: 62%;
	margin-top: 59px;
	text-decoration: hwb;
	padding-left: 4px;
}
}

@media (max-width:391px) {

.rgru-wr {
	border: 1px solid gray;
	padding: 5px 0px 7px 1px;
	background-color: #f2f2f4;
	height: 116px;
}
.rgru-wr img{
	
}
.rg-ru {
	display: inline-block;
	max-width: 50%;
	margin-top: 59px;
	text-decoration: hwb;
	padding-left: 4px;
	font-size: 13px;
}
}

.min60 {
	color:#FFEE00;
	font-size: 44px;
}
/** END sravni-osago  */
